html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }

.box{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border: 5px solid rgb(245, 5, 5);
    padding :10px;
    margin: 10px;
    box-sizing: border-box;
}
