/* font-size: 18px */
body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

/* background-color: dimgray */
header, footer{
    background-color: dimgray;
}

/* color: rgb(255, 0, 30) */
.site-title{
  color: rgb(255, 0, 30);
}

/* box-shadow: 0px 0px 2px 1px black */
#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

/* list-style-type: square */
#myhobbies{
    list-style-type: square;
}

/* background-color: beige */
#myhobbies li:nth-child(odd){
    background-color: rgb(0, 221, 255);
}

/* Remove the bullets from the navigation unordered list */
.notes ul {
    list-style-type: none;
  }
  
  /* Remove the underline from the links */
  .notes a {
    text-decoration: none;
    background-color: lightgrey; 
    border: 2px solid #29838d;
    color: black;
  }
  
  /* Change background color on hover or focus */
  .notes li a:hover {
    background-color: goldenrod;
  }


