/*Reset some basic styling */
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #a9c2b0;
}

h1 {
    margin-block: 0;
}

.lone-starfish {
    background-color: #a0afa0;
    max-width: 960px;
    margin: 0 auto;
}
/* header styling */
header{
    text-align: center;
    padding: 0;
    position: relative;
}

header img{
    width: 100%;
    height: auto;
}

header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    font-size: 50px;
    font-weight: bold;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
   
}

nav ul li {
    display: inline-block;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
}

nav ul li + li {
    border-inline-start: 0.125rem solid black;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

/* Article Styling with Text Wrapping */
article {
    width: 100%;
}

article h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: black;
}

article p{
    font-size: 1em;
}
article img {
    float: left;
    margin-right: 15px;
    width: 200px;
    height: auto;
}

/* Facts Section Styling */
.facts-h2 {
    font-size: 1.8em;
    margin: 20px 0 10px;
}

.facts-ul {
    /* list-style-type: disc; */
    padding-left: 20px;
}

/* Contact Form Styling */
.contact h2 {
    font-size: 1.8em;
    margin: 20px 0 10px;
}

.form {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.field-inline {
    display:block;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    align-items: baseline;
}
.field-inline label{
    display: block;
}
.field-inline input{
   width: 98%;
}

fieldset {
    border: none;
    margin: 10px 0;
}

fieldset legend {
    font-weight: bold;
    margin-bottom: 5px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

footer {
    text-align: right;
    padding: 10px;
    background-color: #8da6ad;
    color: white;
    font-size: 0.9em;
}

